.esri-countdown-app__panel {
  // Fix height leaderboard is longer than it should be when filtered, revert back to flex
  calcite-action-bar {
    --calcite-ui-foreground-1: #545353;
    --calcite-ui-foreground-2: #00619b;
    --calcite-ui-foreground-3: #0079c1;
    --calcite-ui-text-3: #fff;
  }

  &-header {
    background: rgb(44, 44, 44);

    p {
      color: #fff;
      font-family: Avenir-Roman;
      font-size: 18px;
      margin: 0;
      padding: 16px 0 16px 10px;
      line-height: 24px;
    }
  }

  &-pane-container {
    height: calc(100% - 56px);
    display: flex;
    background: #f7f8f9;
  }

  &-section {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: auto;
  }

  &-pane {
    height: calc(100% - 12px);
    width: 30vw;
    max-width: 340px;
    margin: 12px 12px 0;
    display: grid;

    & > div {
      width: inherit;
      max-width: 340px;
      padding-bottom: 12px;
    }
  }

  @media only screen and (max-width: 829px) {
    width: 100%;
    &-pane {
      width: unset;
      max-width: unset;
      &[data-type='countdown'] {
        height: calc(50% - 6px);
      }
      &[data-type='leaderboard'] {
        height: calc(50% - 55px);
      }

      & > div {
        width: unset;
        max-width: unset;
        overflow-y: auto;
        padding-bottom: unset;
      }
      & > div:last-child {
        margin-bottom: 12px;
      }
      &[data-show-map='false']{
        height: 100%;
      }
      &[data-show-map='false'][data-type='leaderboard']{
        height: calc(100% - 100px);
      }
      &[data-show-section='false']{
        visibility: hidden;
        height: 0;
        margin: 0;
      }
    }

    &-pane-container {
      & > div {
        width: 100%;
        overflow-y: auto;
      }
    }

    &-section {
      overflow-y: hidden;
    }

    &-view-container {
      height: 50%;
      margin: 12px 12px 0;
      &[data-show-map='false'], &[data-type='intro'], &[data-type='summary'] {
        visibility: hidden;
        height: 0;
        margin: 0;
      }
      &[data-show-section='false']{
        height: 100%;
        margin: 12px;
      }
    }
  }
}
