.esri-countdown-app__panel {
  calcite-action-bar {
    --calcite-ui-foreground-1: #545353;
    --calcite-ui-foreground-2: #00619b;
    --calcite-ui-foreground-3: #0079c1;
    --calcite-ui-text-3: #fff;
  }

  &-header {
    background: rgb(44, 44, 44);

    p {
      color: #fff;
      font-family: Avenir-Roman;
      font-size: 18px;
      margin: 0;
      padding: 16px 0 16px 10px;
      line-height: 24px;
    }
  }

  &-pane-container {
    height: calc(100% - 56px);
    display: flex;
    background: #f7f8f9;
  }

  &-section {
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
  }

  &-pane {
    width: 30vw;
    margin: 12px 12px 0;
    display: grid;

    & > div {
      padding-bottom: 12px;
    }
  }
}
