.esri-countdown-app__leaderboard {
  calcite-checkbox {
    --calcite-ui-text-2: #0079c1;
    --calcite-ui-border-input: #0079c1;
  }

  &-container {
    display: grid;
    grid-gap: 8px;

    calcite-accordion,
    calcite-accordion-item {
      border-radius: 6px;
      --calcite-accordion-item-border: var(--calcite-ui-border-1);
    }
  }

  &-content {
    color: rgb(99, 99, 99);
    font-size: 13px;
    font-family: Avenir-Medium;
    font-weight: 500;
    line-height: 16.35px;

    .esri-feature__content-element {
      padding: 0;
    }

    .esri-feature__main-container {
      padding-top: 24px;
    }

    a {
      word-break: break-word;
    }
  }
}
