.esri-control-panel {
  --calcite-ui-text-3: #fff;

  #control-panel-play-button {
    --calcite-ui-foreground-1: #009AF2;
    --calcite-ui-foreground-2: #007AC2;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#measure-widget-bar {
  --calcite-ui-foreground-3: #009AF2;

  display: flex;
  flex-flow: row;
}