.esri-instant-app__header {
  min-height: 56px;
  display: flex;
  background: var(--header-background);

  &-container {
    display: flex;
    align-items: center;

    img {
      height: 42px;
      padding-left: 10px;
    }
  }

  &-title-container {
    width: 100%;
    display: flex;

    a, h1 {
      color: var(--header-color);
      font-family: Avenir-Roman;
      font-size: 18px;
      margin: 0;
      padding: 16px 10px;
      line-height: 24px;
    }
  }
}