.esri-countdown-app__header {
  height: 56px;
  display: flex;
  background: #2c2c2c;

  &-dropdown-container {
    display: flex;
    align-items: center;

    calcite-dropdown {
      --calcite-border-radius: 0px;

      calcite-button {
        --calcite-ui-brand: #2c2c2c;
        --calcite-ui-brand-hover: #2c2c2c;
        --calcite-ui-border-2: #2c2c2c;
        --calcite-ui-text-1: #fff;
      }
      calcite-dropdown-item:hover,
      calcite-dropdown-item[data-active="true"] {
        background-color: #e4e4e4;
      }

      calcite-dropdown-item {
        padding: 0.75rem 1rem 0.75rem 0.75rem;
        // background-color: #f3f3f3;
        --calcite-ui-brand: #000;
      }
    }
  }

  &-container {
    background: #2c2c2c;
    width: 100%;

    p {
      color: #fff;
      font-family: Avenir-Roman;
      font-size: 18px;
      margin: 0;
      padding: 16px 0 16px 10px;
      line-height: 24px;
    }
  }
}
