.App {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.esri-instant-app {
  &__body {
    height: 100%;

    &[data-theme="dark"] {
      --header-background: #2c2c2c;
      --header-color: #fff;
    }

    &[data-theme="light"] {
      --header-background: #fff;
      --header-color: #2c2c2c;
    }
  }

  &__opt-out-button {
    float: right;
  }

  html[dir="rtl"] &__opt-out-button {
    float: left;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.app-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    width: 65%;
    text-align: center;
  }
}
