.App {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.esri-instant-app__body {
  height: 100%;
}

.esri-instant-app__body--header {
  height: 95%;
}
.esri-instant-app__opt-out-button {
  float: right;
}

html[dir="rtl"] .esri-instant-app__opt-out-button {
  float: left;
}
